name: Test

on:
  push:
    branches:
      - fix
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Run tests
      run: docker-compose -f docker-compose.tests.yml up --build

  docker:
    name: Docker build
    runs-on: ubuntu-latest
    steps:
    - name: Build
      uses: docker/build-push-action@v5
      with:
        file: Dockerfile.Prod
        push: false
